<div class="container">
  <div id="result"></div>
  <form id="tweet_single" action="/tweet" method="POST">
    <input id="tweet" name="tweet" text="text" placeholder="Enter your tweet here...">
    <input type="submit" value="Submit">
  </form>
</div>
